$green-light: #56c47a;
$green: #36a45a;
$green-dark: #16843a;
$light-green: #24c942;
$seagreen: #0ba327;
$light-white: #EEE;
$white: #FFF;
$dark-white: #EEE;
$darker-white: #CCC;
$black: #000;
$gray: #555;
$dark-gray: #333;
$light-lemon-chiffen: #fffeee;