.AuctionListItem {
  padding: 10px;
  color: $gray;

  header {
    padding: 10px;
    border-radius: 10px;
    font-size: 22px;
    background: $seagreen-light;
    color: $white;
    z-index: 2;
  }

  .content {
    background: $white;
    margin: -10px 0 0 5px;
    width: calc(100% - 10px);
    padding: 20px 0;
    z-index: 1;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px 2px $light-white;

    @include respond-to(medium) {
      flex-direction: row;
    }

    .image img {
        max-height: 180px;
        width: auto;

    }

    .description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 15px;

      @include respond-to(medium) {
        margin-top: 0;
      }

      .details {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
      }

      span {
        margin: 0 0 10px;
      }

      a {
        align-self: flex-end;
        margin-top: auto;
      }
    }
  }
}