.header {
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    flex: 1 0 0;

    .logo-link {
      font-weight: bold;
      color: $font-primary;
      text-decoration: none;
    }
  }

  .header-button-wrapper {
    flex: 1 0 0;
    display: flex;
    justify-content: flex-end;

    .header-button {
      margin-right: 10px;
      background-color: #56c47a;
      border-radius: 5px;
      padding: 5px 15px;
      box-shadow: #0f0f0f 1px 2px 6px -1px, inset #36a45a 1px -1px 13px 8px;
      font-size: 17px;
      border: none;

      &:hover {
        background-color: #36a45a;
        box-shadow: #0f0f0f 2px 3px 6px -1px, inset #16843a 1px -1px 13px 8px;
      }

      &:active {
        border: none; //for html button css reset
      }

      &:focus {
        outline: none; //for html button css reset
      }
    }
  }
}