.page {
  width: 100%;

  .wrapper {
    max-width: 1280px;
    margin: auto;
    background: #eee;
    border-radius: 10px;
    box-shadow: 15px 15px 15px -10px rgba(0,0,0,0.10);

    .content {
      margin: auto;
      text-align: center;

    }
  }
}

////////////////////////////////////////TO REMOVE
.example-content {
  height: 500px;
}