.page {
  .wrapper {
    max-width: 1280px;
    margin: auto;

    .content {
      margin: auto;
      text-align: center;
      background: #eee;
    }
  }
}

////////////////////////////////////////TO REMOVE
.example-content {
  height: 500px;
}