.UserList {
  text-align: center;

  th, td {
    padding: 5px;
  }

  thead {
    width: 100%;

    th {
      width: calc(100% / 10);
      background: $seagreen-light;
      text-align: center;
      font-size: 1.4em;
      color: $white;

      &:first-child {
        border-radius: 10px 0 0 10px;
      }

      &:last-child {
        border-radius: 0 10px 10px 0;
      }
    }
  }

  .user-row {
    width: 100%;

    &:nth-child(2n) {
      background: $lemon-chiffon;
    }

    &:hover {
      background: $light-claret;
    }

    td {
      width: calc(100% / 10);

      &:last-child {


        .action-icon {
          display: inline;

          &:first-child {
            margin-right: 10px;
          }

          &:hover {
            cursor: pointer;
            color: $seagreen;
          }
        }
      }
    }
  }
}