.Auction {
  display: flex;
  flex-direction: column;

  .header {
    flex: 1 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    background: $seagreen;
    color: $white;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px $darker-white;
    font-size: 26px;
    font-weight: 500;
    position: relative;

    .finished-auction {
      display: none;
      position: absolute;
      top: 25px;
      right: -25px;
      transform: rotate(45deg);
      color: red;

    }
  }

  &.finished {
    .header {
      background: $gray;

      .finished-auction {
        display: block;
      }
    }
  }

  .content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;

    @include respond-to(medium) {
      flex-direction: row;
    }
    .left-panel {
      flex: 2 0 0;

      .image {
        img {
          width: 70%;
        }
      }
    }

    .right-panel {
      display: flex;
      flex: 3 0 auto;
      align-items: center;
      position: relative;
      flex-direction: column;
      justify-content: center;

      @include respond-to(medium) {
        flex: 3 0 0;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
      }

      .attributes {
        flex: 1 0 auto;
        display: flex;
        background: lemonchiffon;
        border-radius: 10px;
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
        box-shadow: 2px 2px 2px 2px $light-white;
        max-width: 250px;

        span {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .details {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        align-items: flex-start;
      }

      span {
        margin: 0 0 10px;

        div {
          align-self: center;
          padding: 15px;
        }
      }
      .description-wrapper {
        padding: 10px;
        display: flex;
        flex-direction: column;

        .description {
          padding: 10px;
          display: flex;
          flex-direction: column;
        }

        .buttons-wrapper {
          display: flex;
          flex-wrap: wrap;

          .buttonSubmit {
            //position: relative;
            //top: calc(100% - 40px);
            margin: 10px;
          }
        }
      }

      a {
        align-self: flex-end;
        margin-top: auto;
      }
    }
  }
}