.auction {
  padding: 10px;
  color: $gray;

  header {
    padding: 10px;
    border-radius: 10px;
    font-size: 22px;
    background: $dark-white;
  }

  .content {
    .image {

    }

    .description {

    }
  }
}