$seagreen: #0ba327;
$seagreen-light: #1bb337;
$seagreen-dark: #009317;
$light-white: #EEE;
$white: #FFF;
$dark-white: #EEE;
$darker-white: #CCC;
$black: #000;
$gray: #555;
$dark-gray: #333;
$light-lemon-chiffon: #fffeee;
$light-claret: #ffdece;
$lemon-chiffon: lemonchiffon;