$background-url: "../../../public/uploads/images/background.jpg";
$cursorStandard: url("/public/uploads/images/carrot.png"), auto;
$cursorPointer: url("/public/uploads/images/carrotPointer.png"), auto;