.Form {
  .form-group {
    display: block;

    .form-row {
      padding-bottom: 10px;
      display: block;
      width: 100%;

      @include respond-to(large) {
        display: table;
      }

      .form-label {
        margin: 0;
        padding-right: 10px;
        width: 100%;
        display: inline-block;

        @include respond-to(large) {
          width: 35%;
          display: table-cell;
        }
      }

      .form-input-control {
        margin: 0;
        width: 100%;
        display: inline-block;

        @include respond-to(large) {
          width: 65%;
          display: table-cell;

          &.form-control {
            width: 100%;
          }
        }

        &[type="file"] {
          background: none;
          border: 0;
          box-shadow: none;
        }
      }
    }
  }
}